p {
    font-size: 16px;
    margin-top: -14px;
}

#important-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px;
    margin-top: 30px;
}

#highscores-link {
    display: flex;
    align-items: center;
}

#time {
    display: flex;
}

#quiz-options {
    display: flex;
    justify-content: center;
}

#start {
    font-size: 36px;
}