p {
    font-size: 16px;
    margin-top: -14px;
}

#important-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px;
    margin-top: 30px;
}

#highscores-link {
    display: flex;
    align-items: center;
}

#time {
    display: flex;
}

#start {
    margin: 20px;
}

.question {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    display: inline-block;
    margin: 5px;
}

#start {
    display: flex;
    justify-content: center;
}

#start input {
    font-size: 36px;
}

#final-score {
    display: inline-block;
    margin-right: 60px;
}

#submit-initials {
    display: inline-block;
    margin-left: 60px;
}

#results {
    text-align: center;
}

#scores-list {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 6px;
    margin-top: 30px;
}

#scores-list ul {
    width: 100%;
    list-style-position: inside;
    margin-left: -15px;
}

#scores-list li {
    background: white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    color: #212121;
    list-style-type: none;
}

#scores-list li:nth-child(odd) {
    background: #ffb131;
}

#scores-list li:nth-child(even) {
    background: #fff845
}

#return-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6px;
}