p {
    font-size: 16px;
    margin-top: -14px;
}

#important-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px;
    margin-top: 30px;
}

#highscores-link {
    display: flex;
    align-items: center;
}

#score {
    display: flex;
}

#time {
    display: flex;
}

#start {
    margin: 20px;
}

.question {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    display: inline-block;
    margin: 5px;
    ;
}

#start {
    font-size: 36px;
}